/*var*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f5efe9; }
body p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a, a:visited, a:hover, a:active, a:focus {
  color: #c0221f !important;
  text-decoration: none; !important;
  cursor: pointer; !important; }

/*============= HEADER =================*/
nav {
  background-color: #e5dacc; }
  nav .nav .open > a, nav .nav .open > a:focus, nav .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent; }
  nav a, nav a:visited {
    color: #c0221f;
    cursor: pointer;
    text-shadow: none; }
  nav a:hover, nav a:focus {
    text-shadow: 2px 1px 1.98px rgba(107, 0, 0, 0.5); }

#header-wrap {
  font-family: 'Ubuntu';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0; }

#logo-top img {
  display: block;
  margin: 0 auto; }

#phone {
  line-height: 2em; }
  #phone a {
    display: inline-block;
    padding: 0 10px; }

#nav-top ul {
  float: none; }
  #nav-top ul li {
    display: inline-block;
    margin: 1px; }
  #nav-top ul a {
    font-size: 12px;
    padding: 15px 10px; 
    border: 1px solid #c0221f;
    border-radius: 5px;}
  #nav-top ul a:hover, #nav-top ul a:visited {
    background-color: #f5efe9; }
  #nav-top ul .dropdown-menu {
    background-color: #e5dacc;
    padding: 5px;}
    #nav-top ul .dropdown-menu li {
      width: 100%;
      margin-left: 0;}

#links {
  font-size: 22px;
  padding: 10px 0; }
  #links i {
    padding: 0 5px; }

#lang {
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none; }

#callback {
  text-align: right; }
  #callback a {
    margin: 0;
    padding-top: 4px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 16px; }
    #callback a:after {
      content: " ";
      position: absolute;
      top: 10px;
      left: 10px;
      background: url("../images/assets/call.png") -2px -2px no-repeat;
      display: block;
      height: 36px;
      width: 36px;
      border: 1px solid #c0221f;
      border-radius: 50%; }
  #callback img {
    position: absolute;
    top: 0;
    left: 0;
    border: solid black 1px;
    border-radius: 50%; }
  #callback .order_call {
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 12px; }

#callbackModal {
  color: #c0221f;
  text-align: center;
  font-family: 'OpenSans';
  font-size: 18px;
  font-weight: normal; }
  #callbackModal h4 {
    color: #000;
    text-transform: uppercase; }
  #callbackModal .modal-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5dacc; }
  #callbackModal .modal-header .close {
    margin-top: -2px;
    color: #c0221f;
    opacity: .8; }
  #callbackModal .input-group span.input-group-addon {
    color: #c0221f;
    background-color: #c0af9b;
    font-size: 25px;
    height: 50px; }
  #callbackModal .input-group .form-control {
    color: #000;
    background-color: #c0af9b;
    height: 50px; }
    #callbackModal .input-group .form-control .bootstrap-select button {
      border: 1px solid #000;
      border-radius: 0;
      background-color: #c0af9b; }
  #callbackModal .btn-order {
    margin: 20px 0;
    padding: 5px 20px;
    border-width: 0;
    background-color: transparent; }
  #callbackModal .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 70px; }

/*================= MAIN SLIDER =====================*/
#main_slider {
  padding-top: 80px; }
  #main_slider .item {
    position: relative; }
  #main_slider .logo-max {
    width: 122px; }
  #main_slider .item-block {
    margin-left: 0;
    padding-left: 0;
    width: 31%;
    height: 500px;
    margin: auto;
    position: absolute;
    top: -15%;
    left: -50%;
    bottom: 0;
    right: 0; }
    #main_slider .item-block .nav_slider {
      position: absolute;
      bottom: 40px; }
  #main_slider .slide-caption h2 {
    font-size: 42px;
    font-weight: lighter;
    text-transform: uppercase; }
  #main_slider .red-line {
    padding: 10px 0;
    display: block;
    width: 195px;
    border-bottom: solid 2px #c0221f; }
  #main_slider .slide-text {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: lighter;
    text-align: justify; }
  #main_slider a {
    position: absolute;
    bottom: 0; }

.owl-carousel .owl-stage-outer {
  z-index: -1; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -25px; }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  border-radius: 0; }

.btn-order {
  color: #c0221f !important;
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: normal;
  padding: 10px 0;
  letter-spacing: 6px;
  text-transform: uppercase;
  border-top: solid #000 1px !important;
  border-bottom: solid #000 1px !important; }

/*================= MAIN MENU ===========================*/
#m_projects {
  background-image: url("../images/menu/projects.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

#m_building {
  background-image: url("../images/menu/building.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

#m_design {
  background-image: url("../images/menu/design.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

#m_services {
  background-image: url("../images/menu/services.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.no-padding {
  padding: 0; }

#wheelDiv {
  height: 350px;
  width: 350px;
}

#wheelDiv>svg {
  height: 100%;
  width: 100%;
}

.item-menu {
  min-height: 220px;
  background-color: rgba(236, 212, 207, 0.6);
  position: relative; }
  .item-menu:hover {
    background-color: transparent;
    cursor: pointer;
    color: #c0221f; }
  .item-menu span {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase; }

#main_menu {
  background-color: #e5dacc; }
  #main_menu ul {
    background-color: #e5dacc; }
    #main_menu ul a {
      font-family: 'Ubuntu';
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase; }
      #main_menu ul a:hover, #main_menu ul a:visited {
        background-color: #f5efe9; }
    #main_menu ul li {
      background-color: #e5dacc; }

/*====================== MAIN SETTINGS =========================*/
main {
  margin-top: 80px; }
  main nav {
    border-radius: 0 !important;
    border-bottom: 1px solid #c0221f !important; }

.title_main {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #c0221f;
  margin-top: 30px; }

.desc_main {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  color: #5f5f5f; }

/*====================== LAST WORKS ========================*/
#last_works {
  margin: 50px 0;
  opacity: .8; }
  /*#last_works .flip-items img {*/
    /*-webkit-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.37);*/
    /*-moz-box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.37);*/
    /*box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.37); }*/

/*====================== CONTENT ============================*/
/*====================== ORDER ============================*/
#order {
  background-image: url("../images/assets/overlay.png");
  padding-bottom: 2em; }
  #order input[type=text], #order input[type=tel] {
    background: #f5efe9;
    margin: 1.5em 0;
    min-height: 2.5em;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35) inset;
    border-radius: 5px;
    padding-left: 15px;
    width: 100%; }
  #order input[type=submit] {
    display: block;
    margin: auto;
    border-left: 0;
    border-right: 0;
    padding: 10px 20px;
    background-color: transparent; }

/*======================= ABOUT US =======================*/
#about_us p {
  text-align: justify;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300; }

#about_us .desc_main {
  padding: 0 4em;
  font-size: 14px; }

#about_us img {
  padding: 20px 20px 0 20px; }

#about_us .img-left {
  float: left; }

#about_us .img-right {
  float: right; }

/*======================= FEEDBACK ========================*/
#feedback {
  background-color: #f2e7e1;
  padding: 30px 0; }
  #feedback form input {
    margin: 30px 0;
    font-family: "Open Sans";
    font-size: 14px; }
    #feedback form input::-webkit-input-placeholder {
      color: #181717; }
    #feedback form input:-moz-placeholder {
      color: #181717; }
    #feedback form input::-moz-placeholder {
      color: #181717; }
    #feedback form input:-ms-input-placeholder {
      color: #181717; }
  #feedback form input[type],
  #feedback form textarea {
    background-color: #c0af9b;
    color: #181717; }
  #feedback form input[type="submit"] {
    background-color: transparent;
    border: none; }

/*======================= FOOTER ===========================*/
footer {
  padding: 30px 0;
  background-image: url("../images/assets/bg_footer.png");
  color: #fff;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  text-align: justify; }
  footer h3 {
    text-transform: uppercase;
    font-size: 24px; }
  footer address {
    padding-left: 20px;
    font-size: 15px; }
    footer address a, footer address:hover {
      color: #fff; }
  footer .logo-max {
    padding-right: 10px; }
